/*--------------website created by - Eduardo Souza -------------- */ 

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=Josefin+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
html, body{
    background-color: #0E091B;
    color: white;
    height: 100vh;
}
body{
    font-size: 1.6rem;
}
header{
    width: 90%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 32px;
    text-transform: uppercase;
}
header h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
}
span{
    color: #873EFF;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 1.6rem;
} 
.navbar{
    padding-right: 92px;
}
.navbar2{
    border: 1px #873EFF solid;
    padding: 14px 31px;
    border-radius: 3px;
}
.navtwo a:hover{
    background-color: #873EFF;
    transition: 0.8s;
}
main{
    width: 90%;
    max-width: 1150px;
    margin: auto;
}
#textp{
    text-transform: uppercase;
    color: #04D361;
    font-size: 2rem;
    font-weight: 700;
    font-family: "IBM Plex Mono", sans-serif;
    padding-left: 4px;
    margin-bottom: -13px;

}
.conteudo{
    padding-top: 80px;
}
.conteudo h2{
    padding-top: 22px;
    font-size: 6rem;
    font-weight: 600;
    font-family: "IBM Plex Mono", sans-serif;
}
#textp2{
    padding-top: 20px;
    padding-left: 4px;
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    color: #AEAEAE;
    line-height: 3.8rem;
    width: 90%;
    max-width: 756px;
    margin-bottom:50px ;
}
.conteiner{
    width: 601px;
    height: 500px;
    border: #873EFF 1px solid;
    border-radius: 6px;
    background-color:  #171228;
    position: relative;
    
}
.fundo{
    width: 500px;
    height: 222px;
    margin: auto;
    margin-top: 23px;
    background-color: #0E091B;
}
img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 14%;
    left: 40%;
}
.principal h3{
    font-size: 2.4rem;
    font-family: "IBM Plex Mono", Helvetica, sans-serif;
    padding: 15px 25px;
}
.principal p{
    font-family: "DM Sans", sans-serif;
    color: #AEAEAE;
    line-height: 3rem;
    padding: 10px 25px;
    font-size: 1.8rem;
}
.btns{
    display: flex;
    
}
.btn1, .btn2{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    width: 165px;
    height: 33px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.btn1{
    background-color: #04D361;
    margin: 28px 12px 16px 25px;
}
.btn2{
    background-color: transparent;
    border: #04D361 1px solid;
    color: white;
    margin: 28px 15px;
}
.principal{
    display: flex;
    flex-wrap: wrap;
}
.conteiner{
    flex: 1 1 100px;
    margin: 10px;
}
footer{
    width: 90%;
    max-width: 1130px;
    margin: 150px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
footer > .logo{
    font-size: 4.8rem;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    color: #873EFF;
}
footer > p{
    font-size: 1.8rem;
    font-family: "IBM Plex Mono", Helvetica, sans-serif;
}

/* responsividade 1.0*/ 

@media (max-width:874px){
    html{
        font-size: 50%;
    }
    .conteiner{
        height: 450px;
    }
}
@media (max-width:708px){
    html{
        font-size: 38%;
    }
}
@media (max-width:636px){
    .navbar{
        padding-right: 15px;
    }
    .navbar2{
        padding: 10px 10px;
    }
}
@media (max-width:576px){
    .conteudo h2{
        font-size: 300%;
    }
    .navbar{
        padding-right: 15px;
    }
    .navbar2{
        background-color: #873EFF;
    }

    .conteiner{
        width: 401px;
        
    }
    .fundo{
        width: 381px;
    }
}
@media (max-width:506px){
    .conteiner{
        width: 301px;
        
    }
    .fundo{
        width: 351px;
    }
    
    .btns button{
        width: 100%;
    }
}
@media (max-width:452px){
    header,nav{
        flex-wrap: wrap;
        
    }

    nav{
        margin: auto;
        margin-top: 40px;
    }
    .fundo{
        width: 250px;
    }
    header h1{
        font-size: 290% ;
        margin: auto;
        
    }
    img{
        position: absolute;
        top: 15%;
        left: 34%;
    }
    
    
}
@media(max-width:430px){
    .conteudo h2 {
        font-size: 250%;
    }
   
    img{
        position: absolute;
        top: 15%;
        left: 34%;
    }
    
}
@media (max-width:358px){
    .conteudo h2 {
        font-size: 240%;
    }
    .fundo{
        width: 250px;
    }
    img{
        position: absolute;
        top: 15%;
        left: 30%;
    }
    

}